<!--Main content-->
<div id="page-content">

    <!--Page Cover-->
    <div id="page-cover">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Nguyen Hoang Son</h1>
            <p class="intro-text">Live Love Build</p>
            <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <!--Navigation-->
    <div id="page-navigation">
      <h1>Hello</h1>
    </div>
</div>