/! Main content
#home-content

/! Navigation
#home-navigation.container
  .row
    /! Navigation
    .col-md-3
      .row
        a href="#"
          p.text.pull-right HOME
      .row
        a href="#"
          p.text.pull-right ABOUT
      .row
        a href="#"
          p.text.pull-right PROJECT
      .row
        a href="#"
          p.text.pull-right BLOG
      br/
      br/
      br/
      br/
      br/
      br/
      /! Contact
      .row
        a href="#"
          p.text.pull-right Twitter
      .row
        a href="#"
          p.text.pull-right Facebook
      .row
        a href="#"
          p.text.pull-right Linkedin
      .row
        a href="#"
          p.text.pull-right GooglePlus

    .col-md-6 style=("display: inline-block; height: 100%;")
      h1.brand-heading NGUYEN HOANG SON
      hr.aligncenter/
      p.intro-text Live Love Build
      a.btn.btn-default.btn-lg href="#"  Read More
    .col-md-3
    /! About Me

#home-about-me.container
  .row
    .col-md-4
      hr.aligncenter/
    .col-md-4
      h1.brand-heading.text-center About Me
    .col-md-4
      hr.aligncenter/

/! Project
#home-projects.container
  .row
    h1.brand-heading.text-center Projects
  .row
    .col-md-4
      .thumbnail
        img alt="..." src="..." /
        .caption
          h3 Thumbnail label
          p ...
          p
            a.btn.btn-primary href="#" role="button"  Button
            a.btn.btn-default href="#" role="button"  Button

    .col-md-4
      .thumbnail
        img alt="..." src="..." /
        .caption
          h3 Thumbnail label
          p ...
          p
            a.btn.btn-primary href="#" role="button"  Button
            a.btn.btn-default href="#" role="button"  Button
/! Blog
#home-blog
  .row
    h1.brand-heading.text-center Blogs
  .row
/! Contact
#home-contact
/! Footer
#home-footer
