<!--Main content-->
<div id="page-content">

    <!--Page Cover-->
    <div id="page-cover">
      <%= image_tag("image1.jpg", :alt => "rss feed", :class => "image-cover") %>
      <h1 class="text-center" style="color: white;">Nguyen Hoang Son</h1>
      <!--<p class="text-center">Live, Love, Build</p>-->
    </div>

    <!--Navigation-->
    <div id="page-navigation">
      <%= image_tag("image2.jpg", :alt => "rss feed", :class => "image-cover") %>
    </div>
</div>