<!--Main content-->
<div id="home-content">

    <!--Page Cover-->
    <div id="home-cover">
        <div id="home-cover-body">
          <h1 class="brand-heading">Nguyen Hoang Son</h1>
          <hr class="aligncenter">
          <p class="intro-text">Live Love Build</p>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Read More</a>
        </div>

    </div>

    <!--Navigation-->
    <div id="home-navigation">
      <!--Navigation-->
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <a href="#"><p class="text pull-right">About</p></a>
          </div>
          <div class="row">
            <a href="#"><p class="text pull-right">Projects</p></a>
          </div>
          <div class="row">
            <a href="#"><p class="text pull-right">Blog</p></a>
          </div>
          <div class="row">
            <a href="#"><p class="text pull-right">Contact</p></a>
          </div>

          <!--Contact-->
          <div class="row">
            <a href="#"><p class="text pull-right">Twitter</p></a>
          </div>
          <div class="row">
            <a href="#"><p class="text pull-right">Facebook</p></a>
          </div>
          <div class="row">
            <a href="#"><p class="text pull-right">Linkedin</p></a>
          </div>
          <div class="row">
            <a href="#"><p class="text pull-right">GooglePlus</p></a>
          </div>
        </div>

        <div class="col-md-7">
          <h1 class="brand-heading">Nguyen Hoang Son</h1>
        </div>
      </div>

    </div>

    <!--About-->
  <div id="home-about">

  </div>

  <!--Project-->
  <div id="home-projects">

  </div>

  <!--Blog-->
  <div id="home-blog">

  </div>

  <!--Contact-->
  <div id="home-contact">

  </div>

  <!--Footer-->
  <div id="home-footer">

  </div>

</div>