<!--Main content-->
<div id="home-content">

    <!--Page Cover-->
    <div id="home-cover">
        <div id="home-cover-body">
          <h1 class="brand-heading">Nguyen Hoang Son</h1>
          <hr class="aligncenter">
          <p class="intro-text">Live Love Build</p>
          <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Read More</a>
        </div>

    </div>

    <!--Navigation-->
    <div id="home-navigation">
      <!--Navigation-->
      <div id="home-navigation-left">

        <a href="#"><p class="text-pull-right">Home</p></a>
        <a href="#"><p>About</p></a>
        <a href="#"><p>Projects</p></a>
        <a href="#"><p>Blog</p></a>

        <!--Contact-->
        <a href="#"><p>Twitter</p></a>
        <a href="#"><p>Facebook</p></a>
        <a href="#"><p>GooglePlus</p></a>
        <a href="#"><p>LinkedIn</p></a>
      </div>

      <div id="home-navigation-right">
        <h1 class="brand-heading">Nguyen Hoang Son</h1>
      </div>

    </div>

    <!--About-->
  <div id="home-about">

  </div>

  <!--Project-->
  <div id="home-projects">

  </div>

  <!--Blog-->
  <div id="home-blog">

  </div>

  <!--Contact-->
  <div id="home-contact">

  </div>

  <!--Footer-->
  <div id="home-footer">

  </div>

</div>