// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
 height: 0px;
}


#home-cover{
  display: table;
  width: 100%;
  min-height: 700px;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(asset-path("image1.jpg")) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.aligncenter{
  max-width: 180px;
}
#home-cover-body{
  display: table-cell;
  vertical-align: middle;
}

#home-navigation{
  display: table;
  width: 100%;
  min-height: 700px;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(asset-path("image3.jpg")) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

.btn-default {
  border: 2px solid #f4d9ff;
  color: #f4d9ff;
  background-color: transparent;
}

@media(min-width:768px) {
  #home-cover {
    height: 100%;
    padding: 0;
  }

  .brand-heading {
    font-size: 70px;
  }

  .intro-text {
    margin-bottom: 20px;
    font-size: 26px;
  }
}