<!DOCTYPE html>
<html>
<head>
  <title>Hoang Son House</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!--Header-->
    <div id="page-header">
      <h1>Hello the world</h1>
    </div>
    
<%= yield %>
    
    <!--Footer-->
    <div>
      <h1>I am footer</h1>
    </div>

</body>
</html>
